<ng-container  *ngIf="pro.length!=0">

    <div class="container mt-3 col-md-5 " *ngFor="let x of pro">
        
        <a routerLink="/Home"><i class="fa-solid fa-arrow-left"></i></a><h3>Hello {{x.customerName}} <i class="fa-solid fa-circle-user"></i></h3>
        <hr>
        <div class="item "></div>
        <label for="customerName">Full Name</label>
        <input type="text" name="customerName" id="customerName" placeholder="anish1234-03@upi.com" class="form-control  " value="{{x.customerName}}">
    
        <label for="email">Email</label>
        <input type="text" name="email" id="email" placeholder="anish1234-03@upi.com" class="form-control  " value="{{x.customerEmail}}">
        <label for="address">Mobile</label>
        <input type="text" name="address" id="address" placeholder="anish1234-03@upi.com" class="form-control  " value="{{x.customerNumber}}">
         <hr>
        <button class="btn btn-primary" routerLink="/updateUser/{{x.email}}"><i class="fas fa-light fa-wrench"></i> &nbsp;Update</button>&nbsp;
        <button class="btn btn-danger" (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> logout</button>

    </div>
</ng-container>

<ng-container *ngIf="pro.length==0">
    <div class="container mt-5">
        <div class="justify-content-center">
           
            <h2 >Hi User,</h2>
            <h3> Please Login First </h3>
            <button class="btn btn-primary">
            <a routerLink="/login" style="color:white; text-decoration: none;">Login&nbsp;<i class="fa-solid fa-arrow-right"></i></a>
        </button>
        </div>
    </div>
</ng-container>

