<ng-container *ngIf="booking.length>0">
    <div class="container mt-3">
        <div class="card">
            <h3 class="d-flex justify-content-center">Booking Summary</h3>
            <div class="card-item">
                <h3>Booking Details</h3>
                
            <div class="product" >
                <table class="table table-bodered table-striped">
                    <thead>
                        <tr>
                            <th>Movie Name</th><th>Theater Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let p of booking"  >
                            <td>{{p.movie.movieName}}</td>
                            <td>{{p.theater.theaterName}}</td>
                           
                            
                        </tr>
                    </tbody>
                </table>
            </div>
            
            <h3>Customer Details</h3>
            
            <div class="profile " >
                <table class="table table-bodered table-striped ">
                    <thead>
                        <tr>
                            <th>Name</th><th>Email</th>
                            <th>Address</th><th>City</th><th>State</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                            <tr  *ngFor="let c of profile">
                                <td>{{c.customerName}}&nbsp;{{c.lname}}</td>
                                <td>{{c.customerEmail}}</td>
                                <td>{{c.customerNumber}}</td>
                                <td>{{c.city}}</td>
                                <td>{{c.state}}</td>
                            </tr>
                            <tr >
                                <td colspan="2"></td>
                                <td>
                                    <button class="btn btn-danger">Cancel Order</button>
                                </td>
                                <td>
                                    <button class="btn btn-primary">Shop More</button>
                                </td>
                                <td>
                                    <button class="btn btn-success" (click)="checkout()">Place Order</button>
                                </td>
                            </tr>
                        
                    </tbody>
                </table>
    
            </div>
        </div>
        </div>
    </div>
    </ng-container>
    
    <ng-container *ngIf="booking.length==0">
        <div class="container mt-3" *ngFor="let p of profile">
            <div class="card">
                <div class="card-title"><h3>Hi {{p.customerName}}, Booking Successfully</h3></div>
                <div class="card-item justify-content-center">
                    <img src="https://assets.lottiefiles.com/custom_og/lf20_jbrw3hcz.png" alt="">
                    
                </div>
                <br>
                <div class="btn ">
                    <button class="btn btn-danger">Cancel Booking</button>&nbsp;
                        <button class="btn btn-primary" routerLink="/Home">Book Tickets</button>&nbsp;
                        <button class="btn btn-success" routerLink="/Home">Home</button>&nbsp;
                    </div>
            </div>
            
        </div>


        
        
    </ng-container>
    