<nav class="navbar navbar-dark bg-secondary">
    <div class="container-fluid">
      <div class="navbar-brand align-item-center d-flex">
        <i style="font-size: 35px;" class="fa-solid fa-clapperboard-play"></i>
        <strong style="font-size: 25px;">My Movie Plan</strong>
      </div>
     
      
      <div class="form-group">
        
          <input type="text" class="form-control" placeholder="search movies, events & matches" >
        
      </div>
      <span class="fas fa-search search-icon"></span>
      

      
      <button class="btn bg-secondary">
        <i style="font-size: 20px; color:black" class="fa-solid fa-user fa-flip" routerLink="/profile"></i>
      </button>
      

    </div>
  </nav>
<router-outlet></router-outlet>

  